<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lessons</title>
</head>
<body>

<p>Lessons</p>

<table>
    <tr>
        <th>ID</th>
        <th>Lessons</th>
    </tr>
    <tr th:each="lesson,iterationStatus : ${lessons}">
        <td th:text="${lesson.id}">1</td>
        <td th:text="${lesson.name}">Name</td>
        <td><a href="/admin/editLesson/0" th:href="@{/admin/editLesson/{id}(id=${lesson.id})}">Edit</a></td>
        <td><a href="/admin/removeLesson/0" th:href="@{/admin/removeLesson/{id}(id=${lesson.id})}">Delete</a></td>

    </tr>

</table>
<p><a href="/admin/newLesson">Add new lesson</a></p>
<p><a href="/admin">Admin dashboard</a></p>
</body>
</html>